@import "tailwindcss";

@theme {
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e8e8e8;
  --color-gray-300: #d6d6d6;
  --color-gray-400: #b8b8b8;
  --color-gray-500: #a6a6a6;
  --color-gray-600: #7a7a7a;
  --color-gray-700: #454545;
  --color-gray-800: #292929;
  --color-gray-900: #121212;

  --color-primary-50: #faf9fd;
  --color-primary-100: #e5def8;
  --color-primary-200: #cabcef;
  --color-primary-300: #a28ce0;
  --color-primary-400: #7d64c3;
  --color-primary-500: #54408c;
  --color-primary-600: #352368;
  --color-primary-700: #251554;
  --color-primary-800: #10052f;
  --color-primary-900: #09031b;

  --color-white: #ffffff;
  --color-yellow: #fbae05;
  --color-orange: #ff8c39;
  --color-red: #ef5a56;
  --color-blue: #3784fb;
}

@layer base {
  :root {
    --font-heading: "Open Sans", sans-serif;
    --font-size-h1: 40px;
    --font-size-h2: 32px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-h5: 18px;
    --font-size-h6: 16px;
  }

  h1 {
    @apply font-bold text-[var(--font-size-h1)] font-[var(--font-heading)];
  }

  h2 {
    @apply font-bold text-[var(--font-size-h2)] font-[var(--font-heading)];
  }

  h3 {
    @apply font-bold text-[var(--font-size-h3)] font-[var(--font-heading)];
  }

  h4 {
    @apply font-bold text-[var(--font-size-h4)] font-[var(--font-heading)];
  }

  h5 {
    @apply font-bold text-[var(--font-size-h5)] font-[var(--font-heading)];
  }

  h6 {
    @apply font-bold text-[var(--font-size-h6)] font-[var(--font-heading)];
  }
}
